*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(/pictures/desk.jpg);
}

main,
.book {
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 860px; 
  width: 100%;

} 

.page{
  display: flex;
  position: relative;
  margin-top: 40px;
}


.to_do_list,
.div_paper,
.div_work{
  position: absolute;
}

.page,
.current_page{
  width: 100%;
  height: 860px;
  box-sizing: border-box; 
  justify-content: center;
}

.to_do_list{
  width: 100%;
  max-width: 95%; 
  box-sizing: border-box; 
  justify-content: center;
  align-items: center; 
  justify-content: center;
  text-align: center; 
  height: 50vh;
  margin-top: auto;
}


.div_paper  {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 95%;
  height: 90vh;
  border-radius: 50px;
  background-color: lightgray;
  align-items: center;
}


.div_work img{
  display: block;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
}

.name_list{
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 35px;
}

.name_list input{
  text-transform: uppercase;
  font-weight: 800;
  background-color: transparent;
  border: none;
}

h1 {
  display: inline-block;
}

h5 {
  display: inline-block;
  font-weight: normal;
}

ul{
  position: relative;
}

li.completed{
  text-decoration: line-through;
  color: grey;
}

.chevrons{
  display: flex;
  justify-content: space-between;
}

.chevron_left img,
.chevron_right img{
  width: 35px;
  height: auto;
}

.chevron_left img:hover,
.chevron_right img:hover{
  transform: scale(1.5);
  cursor: pointer;
}


.poubelle:hover{
  cursor: pointer;
  content: url(/pictures/trask\ hover.png);
}

#taskCount,
#taskCount_true {
  bottom: 0;
}

