/* *{
  margin: 0;
  padding: 0;
} */

body {
  font-family: Arial, sans-serif;
  background-image: url(/pictures/desk.jpg);
}

main,
.book {
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 860px; 
  width: 100%;

} 

.page{
  display: flex;
  position: relative;
  margin-top: 40px;
}

.div_paper,
.to_do_list{
  position: absolute;
}

.page{
  width: 100%;
  height: 860px;
  box-sizing: border-box; 
  justify-content: center;
}

.to_do_list, .current_page {
  width: 100%;
  max-width: 95%; 
  box-sizing: border-box; 
  justify-content: center;
  align-items: end;
}

.to_do_list {
  align-items: center; 
  justify-content: center;
  text-align: center; 
  height: 50vh;
}

.div_paper  {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 95%;
  height: 90vh;
  border-radius: 50px;
  background-color: lightgray;
  align-items: center;
  gap: 20px;
}


.div_work img{
  display: block;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
}

.name_list{
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 35px;
}

.name_list input{
  text-transform: uppercase;
  font-weight: 800;
  background-color: transparent;
  border: none;
}

h1 {
  display: inline-block;
}

h5 {
  display: inline-block;
  font-weight: normal;
}

ul{
  position: relative;
}

li.completed{
  text-decoration: line-through;
  color: grey;
}

.chevrons{
  display: flex;
  justify-content: space-between;
}

.chevron_left img,
.chevron_right img{
  width: 35px;
  height: auto;
}

.chevron_left img:hover,
.chevron_right img:hover{
  transform: scale(1.5);
  cursor: pointer;
}


.poubelle:hover{
  cursor: pointer;
  content: url(/pictures/trask\ hover.png);
}

#taskCount,
#taskCount_true {
  bottom: 0;
}






/* main:nth-child(2),
.book:nth-child(2) {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100vh; 

} 

.div_paper:nth-child(2),
.to_do_list:nth-child(2),
.page:nth-child(2),
.nouvelle_page:nth-child(2){
  position: absolute;
}


.to_do_list:nth-child(2), .div_paper:nth-child(2), .page:nth-child(2), .nouvelle_page:nth-child(2) {
  width: 90%;
  max-width: 900px; 
  height: 90vh;
  box-sizing: border-box; 
}

.to_do_list:nth-child(2) {
  position: relative;
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

.div_paper:nth-child(2) img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
}


h1:nth-child(2) {
  display: flex;
  justify-content: center;
}


ul:nth-child(2){
  position: 10px relative;
}

li.completed:nth-child(2){
  text-decoration: line-through;
  color: grey;
}

.chevrons:nth-child(2){
  display: flex;
  justify-content: space-between;
}

.chevron_left:nth-child(2) img,
.chevron_right:nth-child(2) img{
  width: 35px;
  height: auto;
}

.chevron_left:nth-child(2) img:hover,
.chevron_right:nth-child(2) img:hover{
  transform: scale(1.5);
  cursor: pointer;
}


.poubelle:nth-child(2):hover{
  cursor: pointer;
  content: url(/pictures/trask\ hover.png);
}

#taskCount:nth-child(2),
#taskCount_true:nth-child(2) {
  bottom: 0;
} */
